---
# Add Page Attributes Here
---

<div class="container">

	<label>
		Find Tweet <small>(Searches tweet text, tweet ID, and feature ID)</small>
		<input id="form-item-search" type="text" name="item">
		<div id="item-error" class="alert error icon-alert">
			Item not recognized. Please enter a valid ArcGIS Online Item (<strong>82a953263017455cabb4e3d870e7050f</strong>) or a valid url (<strong>http://www.arcgis.com/home/item.html?id=82a953263017455cabb4e3d870e7050f</strong>).<br>Also, make sure you are using an Web Map Applicaiton item.
			<a id="item-error-close" href="" class="icon-close"></a>
		</div>
	</label>
	<button id="item-search-submit" class="btn primary">Search</button>
	<span class="search-message sync"><image class="sync-image" src="resources/images/sync.GIF"></image><small>Searcing</small></span>

	<br><br><br>

	<div class="results">
		<table class="lined-rows bordered">
			<thead>
				<tr>
					<td>Tweet</td>
					<td class="align-center">Approve Tweet</td>
					<td class="align-center">Hide Tweet</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	
	<hr>

	<div class="feature">
		<button id="item-edit" class="btn primary">Save Tweets</button>
		<span class="edit-message sync"><image class="sync-image" src="resources/images/sync.GIF"></image><small>Editing Story</small></span>
		<span class="edit-message success"><small style="color: #5b945a; font-weight: bold;">Edit Successful</small></span>
		<span class="edit-message error"><small style="color: #c7552e; font-weight: bold;">Error</small></span>
	</div>

</div>