---
# Add Page Attributes Here
---

<div class="container">

	<div id="service-prompt">
		<label>
			Enter Feature Service URL
			<input id="form-item-service-prompt" type="text" name="item" placeholder="http://services.arcgis.com/nzS0F0zdNLvs7nc8/arcgis/rest/services/NationOfMakersV2/FeatureServer/0">
		</label>
		<button id="item-service-submit" class="btn primary">Start Vetting</button>
		<span class="service-message sync"><image class="sync-image" src="resources/images/sync.GIF"></image><small>Searcing</small></span>
	</div>

	<div id="search-field">
		<label>
			Find Share <small>(Searches title ,share text, location, and feature ID)</small>
			<input id="form-item-search" type="text" name="item">
			<div id="item-error" class="alert error icon-alert">
				Item not recognized. Please enter a valid ArcGIS Online Item (<strong>82a953263017455cabb4e3d870e7050f</strong>) or a valid url (<strong>http://www.arcgis.com/home/item.html?id=82a953263017455cabb4e3d870e7050f</strong>).<br>Also, make sure you are using an Web Map Applicaiton item.
				<a id="item-error-close" href="" class="icon-close"></a>
			</div>
		</label>
		<button id="item-search-submit" class="btn primary">Search</button>
		<span class="search-message sync"><image class="sync-image" src="resources/images/sync.GIF"></image><small>Searcing</small></span>
	</div>

	<br><br><br>

	<div class="results">
		<h6>Options</h6>
		<ul class="input-list">
			<li>
				<label><input id="option-reverse" type="checkbox"> Display Oldest Shares First</label>
			</li>
			<li>
				<label><input id="option-show-all" type="checkbox"> Display Vetted Shares</label>
			</li>
			<li>
				<label><input id="option-hide" type="checkbox"> Display Hide Option</label>
			</li>
			<li>
				<label><input id="option-delete" type="checkbox"> Display Delete Option</label>
			</li>
		</ul>
		<table class="lined-rows bordered">
			<thead>
				<tr>
					<td>Share</td>
					<td>Details</td>
					<td class="align-center">Approve Share</td>
					<td class="align-center hide-field">Hide Share</td>
					<td class="align-center delete-field">Delete Share</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div class="loader">
		<span class="side side-left"><span class="fill"></span></span>
		<span class="side side-right"><span class="fill"></span></span>
		<p class="loading-word">Loading...</p>
	</div>

	<div id="pager" class="feature">
		<ol class="pagination"></ol>
	</div>

</div>